<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <title>HeaderParts|Allusion</title>
</head>
<body>
    <header>
        <div id="logo"><span>Allusion</span></div>
        <div id="formin-group">
            <span id="header-signup">サインアップ</span>
            <span id="header-login">ログイン</span>
            <span id="header-logout">ログアウト</span>
        </div>
    </header>
</body>
</html>