<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/home.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/cardlist.css">
        <link rel="stylesheet" href="../css/artcard.css">
        <link rel="stylesheet" href="../css/setting.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Noto+Serif+JP:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="wrap">
            <Rune></Rune>
        </div>
        <script src="../js/vues/mainview.js" type="module"></script>
        <script src="../js/effect/textscroll.js" type="module"></script>
        <script src="../js/effect/headerEf.js" type="module"></script>
        <script src="../js/effect/imgUpload.js" type="module"></script>
    </body>
</html>