<!DOCTYPE html>
<html>
    <head>
        <title>Allusion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="canonical" href="http://allusion3.herokuapp.com">
        <!-- icon -->
        <link rel="icon" href="./favicon.ico">
        <link rel="apple-touch-icon" sizes="320x320" href="http://allusion3.herokuapp.com/favicon.png">

        <!-- card meta -->
        <meta property="og:title" content="画像ピンボール">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://allusion3.herokuapp.com">
        <meta property="og:image" content="http://allusion3.herokuapp.com/favicon.png">
        <meta property="og:description" content="今まで見たアニメを覚えていますか？Allusionならあなただけのアニメギャラリーを作成できます。">
        <meta property="og:site_name" content="Allusion">
        <meta name="twitter:card" content="summary">

        <!-- css -->
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../css/home.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/cardlist.css">
        <link rel="stylesheet" href="../css/artcard.css">
        <link rel="stylesheet" href="../css/setting.css">
        <link rel="stylesheet" href="../css/createmode.css">

        <!-- cdn -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://unpkg.com/dexie@latest/dist/dexie.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-alpha.12/dist/html2canvas.min.js"></script>
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Noto+Serif+JP:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="wrap" style="background-color: rgba(0,0,0,0.7);">
            <Rune></Rune>
        </div>
        <script>
            if (navigator.userAgent.indexOf('iPhone') > 0 || navigator.userAgent.indexOf('iPad') > 0 || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
                //スマートフォン時に実行したいjs
                const s = document.createElement("script");
                s.type = "module";
                s.src = "../js/mobilevues/mobileMainview.js";//読み込むファイル
                document.body.appendChild(s);
            }else{
                const s = document.createElement("script");
                s.type = "module";
                s.src = "../js/vues/mainview.js";//読み込むファイル
                document.body.appendChild(s);
            }
        </script>
        <script src="../js/effect/textscroll.js" type="module"></script>
    </body>
</html>