main.artcardew {
    position: relative;
    height: 80vh;
    width: fit-content;
    display: flex;
    flex-direction: row;
    border: solid 1px rgba(0,0,0,0.3);
    border-radius: 20px;
    margin: 50px 0 0;
    padding: 30px 15px;
    overflow: hidden;
}
form#artentry {
    display: flex;
    flex-direction: row;
}
.di-back {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 35px;
}
i.backicon {
    color: mediumseagreen;
    margin: 10px 18px;
    padding: 3px 8px;
    border: solid mediumseagreen 2px;
    border-radius: 5px;
}
.lefter {
    width: 36vw;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.righter {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.object {
    border: 1px solid rgba(0,0,0,0.2);
    width: fit-content;
    font-size: 21px;
    position: relative;
    margin: 10px 15px;
}
.lefter.object {
    margin: 3px 15px;
}
.object:not(:first-child),.object.title{
    padding: 0 10px;
    height: 50px;
}
.divname{
    font-family: Caveat;
    font-size: 23px;
    position: absolute;
    top: -15px;
    left: -10px;
}
.object.anime-img {
    margin: 30px 15px 10px 15px;
    min-height: 285px;
    min-width: 450px;
    max-height: 285px;
    height: fit-content;
}
.object.anime-img #imgprev {
    width: inherit;
    height: inherit;
    position: absolute;
    overflow: hidden;
}

.object #imguploads {
    display: none;
}
#uploadlabel {
    display: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: absolute;
}
.imageplus-icon {
    opacity: 0;
    transition: 0.2s;
    position: absolute;
    font-size: 35px;
    top: 29%;
    left: 56%;
}
#uploadlabel:hover {
    opacity: 0.7;
}
#uploadlabel:hover .imageplus-icon {
    opacity: 1;
    color: steelblue;
}
#uploadlabel:hover .imageicon{
    color: green;
    transform: scale(1.3);
    transition: 0.5s;
}
#uploadlabel:not(:hover) .imageicon {
    transition: 0.5s;
}
.imageicon {
    display: none;
    font-size: 60px;
    padding: 20px 0;
    margin: 20.5% 40%;
    color: #0000008c;
}


.anime-img img{
    width: 450px;
    object-fit: cover;
}
.object.when {
    display: flex;
    margin-left: 25px;
    min-width: 144px;
}
.object.when i{
    margin: 18px 0;
}
#artentry .object.when i {
    position: absolute;
    font-size: 25px;
    margin-top: 13px;
}
.object.when .divcontents {
    padding: 15px 0;
}
.object.created {
    min-width: 199px;
}
.object.onaired {
    min-width: 185px;
}
.object.object.title {
    min-width: 262px;
}
.object.arttype,.object.artscale {
    border-radius: 25px;
    min-width: 100px;
    margin: 10px;
}

.object.else {
    width: 190px;
    height: 88px;
}
.pageout {
    font-size: 40px;
}
.object.contents {
    height: 300px;
    width: 300px;
}
.divcontents {
    display: block;
    padding: 10px 5px;
}

input.divcontents,textarea.divcontents {
    font-family: 'Noto Serif JP', serif;
    font-size: 21px;
    border: none;
    width: 100px;
    background-color: transparent;
    color:rgba(0,100,0,0.7);
}
input.divcontents:focus,textarea.divcontents:focus {
    outline: none;
}
.when input.divcontents {
    width: 160px;
    font-size: 22px;
}
.when input[type="date"]::-webkit-calendar-picker-indicator,.onaired input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    margin-inline-start: -1px;
    padding: 0;
}
.when input[type="date"]::-webkit-calendar-picker-indicator {
    width: 182px;
    background: transparent;
}
.when input[type="date"]::-webkit-datetime-edit {
    padding-left: 35px;
}
.onaired input[type="date"]::-webkit-calendar-picker-indicator {
    width: 206px;
    background-position: right;
    background-size: 40px;
}

.created input.divcontents {
    width: 200px;
}
.onaired input.divcontents {
    width: 175px;
}
.title input.divcontents {
    width: 255px;
}
.arttype input.divcontents {
    width: 95px;
    text-align: center;
}
.arttype input[type="text"]::-webkit-calendar-picker-indicator {
    display: none;
}
#artentry .artscale {
    display: flex;
}
.artscale input.divcontents {
    width: 70px;
    text-align: end;
    font-size: 24px;
    padding-bottom: 13px;
}
.object.artscale span.scaletype {
    margin-top: 9px;
    display: block;
    width: 30px;
}
.object.artscale span.scaletype1 {
    display: inline;
}
.contents textarea.divcontents {
    width: 300px;
    height: 280px;
    padding: 10px 0;
}


#card-download{
    font-size: 40px;
    color: darkgreen;
    position: absolute;
    right: 20px;
    bottom: 20px;
    border: solid 1px rgba(0,0,0,0.8);
    padding: 0 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: -1px 3px 0 rgba(0,0,0,0.8);
    cursor: pointer;
}

#download-cancel{
    position: absolute;
    bottom: 20px;
    right: 100px;
    padding: 0 13px;
    font-size: 35px;
    font-weight: bold;
    color: red;
    border: solid 1px rgba(0,0,0,0.8);
    border-radius: 100%;
    box-shadow: -1px 3px 0 rgba(0,0,0,0.8);
    cursor: pointer;
    background-color: #fff;
}

@media screen and (max-width: 480px){
    .object {
        margin: 10px;
        font-size: 5vw;
    }
    .object:not(:nth-child(2)){
        height: 40px;
        line-height: 1;
    }
    main#artcardew {
        height: 94vh;
        width: 96.8vw;
        margin: 0;
        padding: 5px 5px 5vh;
        flex-wrap: wrap;
    }
    .object.when,.object.onaired {
        min-width: 0;
    }
    #wrap .object.title {
        min-width: 210px;
        margin-bottom: 0;
        height: 45px;
        line-height: 1.3;
    }
    #wrap .object.anime-img {
        min-height: 190px;
        min-width: 90vw;
        padding: 0;
        margin: 10px;
    }
    .imageicon {
        font-size: 12vw;
        padding: 20px 0;
        margin: 16% 40%;
    }
    .object.when {
        margin-left: 20px;
    }
    #artcardew .object.when i,.object.onaired i {
        margin-top: 10px;
    }
    .object.when .divcontents,.object.onaired .divcontents{
        padding: 8px 0;
        margin: 0 10px 0 15px;
    }
    .object.onaired {
        display: flex;
    }
    .artcardew .arttype input.divcontents{
        width: auto;
        max-width: 40vw;
    }
    .object.contents {
        height: 150px;
    }
    .object.created {
        min-width: 48vw;
    }
    .backbtn {
        background-color: #f55151a8;
        width: 80px;
        height: 35px;
        color: #fff;
        position: absolute;
        border-radius: 20px;
        border: none;
        font-size: 4vw;
        bottom: 3%;
        left: 5%;
    }
}