@charset "utf-8";

.createcardew.captmode  #card-download, .createcardew.captmode #download-cancel{
    display: none;
}

.createcardew .object.anime-img {
    margin: 0 15px 10px 15px;
}

main#artcardew.createcardew {
    padding: 30px 15px 10px 15px;
}

.object.else.written {
    height: 60px;
    width: 120px;
    margin-left: 40px;
    border: none;
}

.object.else.written .divcontents {
    font-size: 22px;
    padding-left: 5px;
    padding-top: 14px;
    text-align: right;
    padding-right: 25px;
}

.object.else.written::after {
    content: "";
    display: block;
    border-bottom: solid 1px #000;
    transform: rotateZ(-6deg);
    width: 120px;
    position: absolute;
    top: 48px;
    left: 0;
}


@media screen and (max-width: 480px){
    /* #wrap .createmode #main-wrap {
        display: block;
        padding: 10px 5px 12px;
    } */
    .createmode #cardlist {
        border: solid 2px lawngreen;
    }
    .createmode .animecard {
        border: solid 3px #00ff49;
        animation: colorborder 3s infinite ease-in-out;
    }
    @keyframes colorborder {
        0%,100%{
            border-color: #00ff49;
        }
        60%{
            border-color: #00ff49;
        }
        70%{
            border-color: rgba(213, 255, 213, 0.897);
        }
        80%{
            border-color: #00ff49;
        }
    }
    main#artcardew.createcardew {
        padding: 30px 15px 10px 15px;
        border: solid 1px rgba(0,0,0,0.3);
        border-radius: 20px;
        margin: 0;
        box-sizing: border-box;
        height: 90vh;
        position: relative;
    }
    #wrap #artcardew.createcardew .object.anime-img {
        min-height: 180px;
        min-width: 70vw;
    }
    .createcardew .lefter {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 50vh;
        width: 90vw;
    }
    .createcardew .righter {
        position: absolute;
        bottom: -25px;
        right: 30px;
        height: 90vw;
        width: 44vh;
    }
    .createcardew .object:not(:first-child), .object.title {
        padding: 2px 2px 2px 8px;
        height: 45px;
    }
    .createcardew .object.when .divcontents, .object.onaired .divcontents {
        margin: 0 10px;
    }
    #artcardew .object.when i, .object.onaired i {
        margin-top: 13px;
    }
    .createcardew .object.created {
        min-width: 30vw;
    }
    .createcardew .object.else.written {
        height: 50px;
        width: 110px;
        margin-left: 30px;
        margin-right: 0;
    }
    #wrap .createcardew .object.title {
        margin-bottom: 10px;
    }
    .createcardew .object.arttype, .object.artscale {
        min-width: 12vh;
        margin: 10px 8px;
    }
    .createcardew .object.contents {
        width: 250px;
        height: 180px;
    }
    
    
}