@charset "utf-8";

.createcardew.captmode  #card-download, .createcardew.captmode #download-cancel{
    display: none;
}

.createcardew .object.anime-img {
    margin: 0 15px 10px 15px;
}

main#artcardew.createcardew {
    padding: 30px 15px 10px 15px;
}

.object.else.written {
    height: 60px;
    width: 120px;
    margin-left: 40px;
    border: none;
}

.object.else.written .divcontents {
    font-size: 22px;
    padding-left: 5px;
    padding-top: 14px;
    text-align: right;
    padding-right: 25px;
}

.object.else.written::after {
    content: "";
    display: block;
    border-bottom: solid 1px #000;
    transform: rotateZ(-6deg);
    width: 120px;
    position: absolute;
    top: 48px;
    left: 0;
}


@media screen and (max-width: 480px){
    main#addartcardew {
        height: 97vh;
        width: 96.8vw;
        margin: 0;
        padding: 5px 5px 2vh;
        flex-wrap: wrap;
    }
    #artentry .object:not(:nth-child(2)){
        height: 45px;
        line-height: inherit;
    }
    input.divcontents{
        font-size: 5vw;
    }
    textarea.divcontents {
        font-size: 4vw;
    }
    form#artentry {
        flex-wrap: wrap;
    }
    
    #artentry .object.when {
        margin-left: 20px;
    }
    .object.when input[type="date"]::-webkit-calendar-picker-indicator {
        width: 100%;
    }
    .object.when input.divcontents,.object.onaired input.divcontents {
        width: 35vw;
        font-size: 5vw;
        margin: 0;
    }
    #artentry .object.onaired i {
        position: absolute;
        font-size: 25px;
        margin-top: 13px;
    }
    .created input.divcontents {
        width: 50vw;
    }
    .onaired input[type="date"]::-webkit-calendar-picker-indicator {
        background: transparent;
        width: 100%;
    }
    .onaired input[type="date"]::-webkit-datetime-edit {
        padding-left: 35px;
    }
    #artentry .object.contents {
        height: 150px;
    }
}