@charset "utf-8";

#wrap {
    width: 100vw;
    height: 100vh;
    
}
main {
    position: absolute;
    width: 960px;
    height: 450px;
    left: 15%;
    top: 24%;
    
}
/* enterbox */
.enterbox {
    margin: 0 auto;
    position: absolute;
    width: 125px;
    height: 125px;
    border: solid 2px rgba(0,255,0,0.5);
    text-align: center;
    transform: rotateZ(-30deg);
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5);
    transition: 1.5s;
}
#login-enterbox {
    top: 115px;
    left: 20%;
}
#signup-enterbox {
    top: 115px;
    right: 32%;
    border-color: rgba(255,0,0,0.5);
}

.enterbox span {
    display: block;
    font-size: 30px;
    margin: 38px auto;
    color: green;
    font-family: cursive,"system-ui";
}
#signup-enterbox span {
    color: orangered;
}

/* arrow */
.arrow {
    font-size: 90px;
    font-weight: bolder;
}
#login-arrow {
    position: absolute;
    top: 206px;
    left: 32%;   
    color: lightgreen;
}
#signup-arrow {
    position: absolute;
    top: 183px;
    right: 23%;
    color: lightcoral;
    transform: rotateZ(10deg);
}


/* form */




.formdiv {
    display: none;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    border: solid 3px rgba(0,255,0,0.2);
    border-radius: 10px;
    transition: 1s;
}
#signupform{
    border-color: rgba(255,0,0,0.2);
}


.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.form-title {
    height: 110px;
}
.form-title div {
    position: relative;
    width: 100%;
    height: 100%;
}
/* selectback */
.selectback {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 40px;
    font-weight: bolder;
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    transition: 0.2s;
    border: inset 2px rgba(255,0,0,0);
}
.selectback:hover {
    cursor: pointer;
}
#login-selectback {
    color: rgba(0,255,0,0.4);
}
#login-selectback:hover {
    border-color: rgba(0,255,0,0.4);
    color: rgba(0,255,0,0.6);
}
#signup-selectback {
    color: rgba(255,0,0,0.4);
}
#signup-selectback:hover {
    border-color: rgba(255,0,0,0.4);
    color: rgba(255,0,0,0.6);
}

/* input */
.loginput {
    width: 300px;
    height: 55px;
    margin: 0 auto;
    border: solid 2px rgba(0,255,0,0.2);
    padding: 0 10px;
    /* color: rgba(0,0,0,0.6); */
    letter-spacing: 0.05em;
    color: #555;
}
.signupinput {
    border: solid 2px rgba(255,0,0,0.2);
}
.loginput:focus {
    border-color: green;
    outline: none;
}

.signupinput:focus {
    border-color: orangered;
}

.form-mail {
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}
.form-pass {
    border-radius: 0 0 10px 10px;
    border-top: none;
}
#signup-form-pass1{
    border-radius: 0;
    border-bottom: none;
}


/* passeyes */
.pasappear {
    position: absolute;
    color: rgba(0,0,0,0.5);
    font-size: 20px;
    font-style: normal;
    cursor: pointer;
}
#login-pasappear {
    top: 45%;
    right: 12%;
}
#signup-pasappear1{
    top: 39%;
    right: 12%;
}
#signup-pasappear2{
    top: 51%;
    right: 12%;
}
.errordiv {
    height: auto;
    min-height: 10px;
}

/* error */
.error-message {
    color: red;
    margin: 3px 0 0 60px;
    text-align: left;
    font-size: 13px;
    font-family: monospace;
}

/* pasforgot */
.pasforgot {
    margin: 5px 30px 0 0;
    text-align: right;
}
.pasforgot a{
    font-size: 14px;
}
.pasforgot a:hover {
    text-decoration: underline;
}
#login-pasforgot a {
    color: rgba(63,218,61,0.83);
}
#signup-pasforgot a {
    color: #e27a53;
}


/* submit */
.form-submit {
    width: 150px;
    height: 40px;
    margin: 50px auto;
    background-color: lightgreen;
    border: none;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 0 rgb(0,150,0);
}
.form-submit:focus {
    transition: 0.2s;
    outline: none;
    box-shadow: 0 3px 0 rgb(0,150,0);
    background-color: #fff;
    color: green;
    border: solid 2px rgb(0,150,0);
    font-size: 22px;
}
#signup-form-submit {
    background-color: tomato;
    box-shadow: 0 5px 0 rgb(150,0,0);
}
#signup-form-submit:focus {
    background-color: #fff;
    color: orangered;
    box-shadow: 0 3px 0 rgb(150,0,0);
    border: solid 2px rgb(150,0,0);
}

.form-submit:active {
    box-shadow: none;
    margin-top: 60px;
    margin-bottom: 40px;
}




#help {
    position: absolute;
    width: 300px;
    height: 145px;
    bottom: 10px;
    right: -130px;
    opacity: 0.7;
    background-color: rgba(0,0,0,0.03);
    padding: 10px;
    border-radius: 10px;
}

.enterbox,.enterbox span,#form-submit {
    cursor: pointer;
}