@charset "utf-8";
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(173, 112, 19, 0.185);
    display: flex;
    justify-content: space-between;
    z-index: 5;
    transition: 0.3s;
}
#logo {
    background-color: lightsteelblue;
    height: 100%;
    width: 200px;
    margin-left: 10%;
}
#logo span {
    font-size: 40px;
    color: beige;
    display: block;
    padding: 12px;
    text-align: center;
    font-family: cursive;
    transition: 1s;
}
.formin-group{
    width: 170px;
    height: 70%;
    padding: 13px;
    margin-right: 10%;
    transition: 0.5s;
}
.formin-group span {
    font-size: 20px;
    color: beige;
    display: block;
    padding: 10px;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}



.formin-group span:hover {
    opacity: 0.7;
}
#header-signup {
    background-color: rgba(255,0,0,0.5);
    border-radius: 33px;
}
#header-login{
    background-color: rgba(87,236,97,0.74);
    background-color: rgba(61,255,153,0.7);
    border-radius: 33px;
}
#header-logout{
    background-color: rgb(255,115,115);
    border-radius: 33px;
}
.formin-group span:not(:nth-child(2)){
    display: none;
}

.formin-group span.shrinklogbtn {
    padding: 3px 10px;
    font-size: 17px;
}