@charset "utf-8";

main#homew {
    padding: 10px 30px;
    width: 60%;
    height: 520px;
    border: solid 1px gray;
    margin: 20px 5px 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin-top: 55px;
}

/* img {
    width: 300px;
} */
.name {
    width: 50%;
    height: 100px;
    display: block;
    position: relative;
    margin: 10px 30px 25px;
}
.name img {
    border-radius: 100%;
    width: 110px;
    position: absolute;
    left: -20px;
    z-index: 2;
}
.name span {
    border-bottom: 1px solid gray;
    padding: 0 30px;
    position: absolute;
    left: 120px;
    top: 40px;
    font-weight: 700;
    font-size: 32px;
    font-family: ;
    z-index: 1;
}

.status {
    padding: 10px;
    width: auto;
    height: 68px;
    display: flex;
    flex-direction: row;
}
.status div:first-child {
    padding-top: 5px;
    padding-bottom: 10px;
}
.status div:first-child span {
    font-family: 'Caveat', cursive;
    font-size: 28px;
}
.status div:nth-child(2){
    height: 24px;
    padding: 11px 0;
    cursor: pointer;
}
.status div:nth-child(2) i {
    font-size: 24px;
}

.status div:nth-child(3) {
    padding-top: 10px;
    padding-bottom: 5px;
    height: 32px;
}
.status div:nth-child(3) span {
    font-size: 18px;
}
.status div {
    width: 120px;
    height: 32px;
    border: solid 1px gray;
    border-radius: 20px;
    text-align: center;
    margin-right: 10px;
}
.self {
    display: block;
    font-family: "Sawarabi Mincho";
    border: solid 1px gray;
    border-radius: 20px;
    width: 400px;
    height: 220px;
    padding: 21px;
    font-size: 17px;
}
.move{
    margin-top: 100px;
    width:160px;
    font-weight: 400;
    font-family: "Sawarabi Mincho";
}
.move ol{
    border: solid gray 1px;
    border-radius: 5px;
    width: 200px;
    height: 35px;
    padding: 18px 7px 12px 13px;
    margin-bottom: 10px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.5);
    cursor: pointer;
}
.move ol:hover{
    transition: 0.2s;
    opacity: 0.7;
}
.move ol:active{
    box-shadow: 0 0 0;
    margin-top: 12px;
    margin-bottom: 8px;
    transition: 0.2s;
}
.move ol:first-child:active {
    margin-top: 18px;
}
.move ol i {
    padding-right: 5px;
}


.option {
    position: absolute;
    bottom: 40px;
    right: 60px;
    padding: 5px 7px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.5);
    border: solid 1px gray;
    border-radius: 5px;
    transition: 0.2s;
}
.option:hover {
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0,0,0,0.5);
    bottom: 38px;
}
.option i {
    font-size: 60px;
}
.awefon {
    font-size: 1.5em;
    color: rgb(0,0,0,0.7);
}
