@charset "UTF-8";
body {
    margin: 0;
    color: #625454;
    color: #565656;
    display: block;
    padding: 0;
    font-family: 'Noto Serif JP', serif;
    height: 100vh;
    overflow: hidden;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    color: #000;
    text-decoration: none;
}
#wrap {
    height: 100%;
    width: 100vw;
    padding: 0 1%;
}
#main-wrap {
    display: flex;
    height: 100%;
}


.crudbtn {
    position: absolute;
    bottom: 30px;
    width: 100px;
    height: 50px;
    font-size: 25px;
    border-style: solid;
    font-weight: bold;
    font-family: monospace;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.1s;
}
.crudbtn:active {
    bottom: 27px;
}
.crudbtn:focus {
    outline:  none;
}

#c-btn {
    right: 30px;
    background-color: lightgreen;
    border-color: #fff;
    color: #fff;
    box-shadow: 0 3px 0 rgba(0,255,0,0.2);
    opacity: 0.5;
}
#c-btn:hover {
    background-color: forestgreen;
    opacity: 1;
}
#c-btn:active {
    box-shadow: 0 0 0 rgba(0,255,0,0.2);
}

#u-btn {
    right: 20px;
    background-color: cornflowerblue;
    border-color: #fff;
    color: #fff;
    box-shadow: 0 3px 0 rgba(0,0,255,0.2);
    opacity: 0.5;
}
#u-btn:hover {
    background-color: royalblue;
    opacity: 1;
}
#u-btn:active {
    box-shadow: 0 0 0 rgba(0,0,255,0.2);
}

#d-btn {
    right: 130px;
    background-color: palevioletred;
    border-color: #fff;
    color: #fff;
    box-shadow: 0 3px 0 rgba(255,0,0,0.2);
    opacity: 0.5;
}
#d-btn:hover {
    background-color: red;
    opacity: 1;
}
#d-btn:active {
    box-shadow: 0 0 0 rgba(255,0,0,0.2);
}

#ca-btn {
    right: 145px;
    background-color: darksalmon;
    border-color: #fff;
    color: #fff;
    box-shadow: 0 3px 0 rgba(255,0,0,0.2);
}
#ca-btn:hover {
    background-color: red;
}
#ca-btn:active {
    box-shadow: 0 0 0 rgba(255,0,0,0.2);
}

.darktheme {
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}
.darktheme i {
    color: #fff;
}
.darktheme header {
    background-color: transparent;
}
.darktheme #themeinput {
    background-color: #fff;
    color: #000;
}
/* .darktheme input.divcontents,.darktheme textarea, .darktheme #artentry div:not(.di-back), .darktheme .artcardew div:not(.di-back){
    background-color: rgba(0,0,0,0.3);
    color: #fff;
} */
.darktheme .artcardew div:not(.di-back),.darktheme .setcontents {
    background-color: rgba(0,0,0,0.3);
    color: #ddd;
}
.darktheme input.divcontents,.darktheme textarea.divcontents {
    color: #ddd;
}
.darktheme main div.move ul ol:hover,.darktheme main .status div:nth-child(2):hover {
    color: rgba(36, 219, 36, 0.7);
    border-color: rgba(36, 219, 36, 0.7);
    background-color: #edfff4;
    opacity: 1;
}
.darktheme main div.move ul ol:hover i,.darktheme main .status div:nth-child(2):hover i{
    color: rgba(36, 219, 36, 0.7);
}

.createmode #cardlist {
    border: solid 3px green;
}
.createmode #homew {
    transition: 0.3s;
    filter: blur(2px);
}

#cancelbtn {
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 150px;
    height: 60px;
    font-size: 32px;
    color: red;
    font-weight: bold;
    font-family: 'Noto Serif JP';
    line-height: 1;
    background-color: #fff;
    border: solid 2px orangered;
    border-radius: 10px;
    z-index: 10;
}

@media screen and (max-width: 480px){
    body {
        overflow: auto;
    }
    #wrap header {
        width:45%;
    }
    #wrap header #logo {
        margin-left: 0;
        width: auto;
    }
    #wrap main#homew {
        display: none;
    }
    #wrap {
        padding: 0;
    }
    #wrap #main-wrap {
        display: block;
    }
    #wrap .darktheme {
        overflow: hidden;
    }
    #wrap aside {
        border: solid 2px lawngreen;
        width: 96vw;
        height: 90.5vh;
        margin: 0;
        box-sizing: border-box;
    }
    #wrap .asideheader {
        width: 100%;
        margin-left: 0;
        background-color: transparent;
        overflow: hidden;
    }
    #wrap #h-nav {
        font-size: 4vw;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        background-color: rgb(38 38 38 / 80%);
        padding: 3px;
        border-radius: 0 0 10px 0;
        box-shadow: 0 0 10px rgba(255,255,255,0.2);
        /* border: solid 1px #fff; */
    }
    #wrap #h-nav i {
        color: steelblue;
    }
    #menulist {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.7);
        height: 100vh;
        width: 55vw;
        padding: 10px;
        box-sizing: border-box;
    }
    #menu-img {
        border-radius: 100%;
        overflow: hidden;
        height: 40px;
        width: 40px;
        border: solid 1px springgreen;
    }
    #menu-img img {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    #menu-name {
        margin: 10px 3px 0 8px;
        color: #00e371;
    }





    #wrap .filter-icon {
        font-size: 22px;
        margin: 8px 3px 8px 50%;
    }
    #wrap .filter-option {
        margin-right: 10px;
        font-size: 16px;
        background-color: transparent;
    }
    #wrap aside ul {
        margin: 10px 0;
    }
    #wrap aside .title-board {
        width: 97%;
    }
    #wrap aside .title-board .date {
        left: unset;
        right: 20px;
        top: 75px;
    }
    #wrap .card-title {
        width: 47vw;
    }
    #wrap .card-content {
        padding: 12px 0 0 25px;
    }

    #wrap .status div span {
        font-size: 4vw;
    }
    #wrap .mobiletools {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 60%;
        height: 135px;
        z-index: 2;
    }
    #wrap #operator {
        position: absolute;
        top: 0;
        right: 18%;
        height: 50px;
        width: 50px;
        border: none;
        border-radius: 100%;
        background-color: #1f964e;
        box-shadow: rgb(141 255 93 / 71%) 0px 0px 8px, rgb(61 255 153 / 45%) 0px 1px 3px 1px;
    }
    #wrap #operator i{
        font-size: 24px;
        padding: 12px 0;
        color: #fff;
    }
    #wrap #opetools {
        display: flex;
        position: absolute;
        bottom: 30%;
        right: 11%;
        width: max-content;
        height: 50px;
        background-color: #fff;
        transform-origin: 87% -25%;
    }
    #wrap .darktheme #opetools {
        background: transparent;
    }
    #wrap #opetools button {
        margin: 0 10px;
        border-radius: 10px;
        border: none;
        background-color: transparent;
        word-break: keep-all;
        font-size: 6vw;
        width: 38vw;
        height: 40px;
        box-shadow: 0 0 5px #20ff4bcc;
        color: rgb(14 99 19 / 74%);
        font-weight: bold;
        font-family: serif;
    }
    #wrap .darktheme #opetools button {
        color: #00ffb6cc;
    }
    .sharenav {
        margin: 0;
        position: absolute;
        top: -30%;
        width: 92vw;
        left: -60%;
        text-align: center;
        font-weight: bold;
        color: #ff7d3f;
        font-size: 5vw;
        border-radius: 5px;
        border: rgb(255 177 149 / 69%) solid 1px;
        background-size: 300% 300%;
        border-radius: 5px;
        overflow: hidden;
    }
    .share-p {
        margin: 3px;
        padding: 5px 0;
        background-color: #fff;
    }
    .sharenav::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        border-radius: calc(2 * var(--borderWidth));
        z-index: -1;
        animation: neondot 3s ease alternate infinite;
        background-size: 300% 300%;
    }
    @keyframes neondot {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    #wrap .mtool-card {
        
    }
    #wrap .mtool-create {

    }
    .fade-enter-active {
        transition: transform ease-in-out .15s;
    }
    .fade-enter {
        transition: transform ease-in-out .1s;
        transform: scale(0);
    }
    .fade-enter-to {
        transition: transform ease-in-out .2s;
        transform: scale(1.1);
    }

    .fade-leave-active {
        transition: transform ease-in-out .15s;
    }
    .fade-leave {
        transition: transform ease-in-out .2s;
        transform: scale(0);
    }
    .fade-leave-to{
        transition: transform ease-in-out .2s;
        transform: scale(0);
    }

    .crudbtn {
        bottom: 20px;
    }
    .crudbtn:active {
        bottom: 17px;
    }

    .mastertools {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        background-color: rgba(0,0,0,0.2);
        z-index: 3;
    }
    .navtools-ul {
        display: flex;
        justify-content: space-evenly;
        margin: 0 30px;
    }
    .navtools-ul li {
        font-size: 24px;
        padding: 5px 60px;
        border-right: solid 2px rgba(0,255,0,0.7);
        color: seagreen;
    }

    li#setting {
        width: 20vw;
        padding: 5px 30px 0;
    }

    /* mastertools */
    li#setting img {
        border-radius: 100%;
        width: 30px;
    }
}