@charset "UTF-8";
body {
    margin: 0;
    color: #625454;
    color: #565656;
    display: block;
    padding: 0;
    font-family: 'Noto Serif JP', serif;
    height: 100vh;
    overflow: hidden;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    color: #000;
    text-decoration: none;
}
#wrap {
    height: 100%;
    width: 100vw;
    padding: 0 1%;
}
#main-wrap {
    display: flex;
    height: 100%;
}


.crudbtn {
    position: absolute;
    bottom: 30px;
    width: 100px;
    height: 50px;
    font-size: 25px;
    border-style: solid;
    font-weight: bold;
    font-family: monospace;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.1s;
}
.crudbtn:active {
    bottom: 27px;
}
.crudbtn:focus {
    outline:  none;
}

#c-btn {
    right: 30px;
    background-color: lightgreen;
    border-color: #fff;
    color: #fff;
    box-shadow: 0 3px 0 rgba(0,255,0,0.2);
    opacity: 0.5;
}
#c-btn:hover {
    background-color: forestgreen;
    opacity: 1;
}
#c-btn:active {
    box-shadow: 0 0 0 rgba(0,255,0,0.2);
}

#u-btn {
    right: 20px;
    background-color: cornflowerblue;
    border-color: #fff;
    color: #fff;
    box-shadow: 0 3px 0 rgba(0,0,255,0.2);
    opacity: 0.5;
}
#u-btn:hover {
    background-color: royalblue;
    opacity: 1;
}
#u-btn:active {
    box-shadow: 0 0 0 rgba(0,0,255,0.2);
}

#d-btn {
    right: 130px;
    background-color: palevioletred;
    border-color: #fff;
    color: #fff;
    box-shadow: 0 3px 0 rgba(255,0,0,0.2);
    opacity: 0.5;
}
#d-btn:hover {
    background-color: red;
    opacity: 1;
}
#d-btn:active {
    box-shadow: 0 0 0 rgba(255,0,0,0.2);
}

#ca-btn {
    right: 145px;
    background-color: darksalmon;
    border-color: #fff;
    color: #fff;
    box-shadow: 0 3px 0 rgba(255,0,0,0.2);
}
#ca-btn:hover {
    background-color: red;
}
#ca-btn:active {
    box-shadow: 0 0 0 rgba(255,0,0,0.2);
}

.darktheme {
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}
.darktheme i {
    color: #fff;
}
.darktheme header {
    background-color: transparent;
}
.darktheme #themeinput {
    background-color: #fff;
    color: #000;
}
.darktheme input,.darktheme textarea, .darktheme #artentry div:not(.di-back), .darktheme #artcardew div:not(.di-back){
    background-color: rgba(0,0,0,0.3);
    color: #fff;
}
.darktheme main div.move ul ol:hover,.darktheme main .status div:nth-child(2):hover {
    color: rgba(36, 219, 36, 0.7);
    border-color: rgba(36, 219, 36, 0.7);
    background-color: #edfff4;
    opacity: 1;
}
.darktheme main div.move ul ol:hover i,.darktheme main .status div:nth-child(2):hover i{
    color: rgba(36, 219, 36, 0.7);
}

.createmode #cardlist {
    border: solid 3px green;
}
.createmode #homew {
    transition: 0.3s;
    filter: blur(2px);
}

#cancelbtn {
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 150px;
    height: 60px;
    font-size: 32px;
    color: red;
    font-weight: bold;
    font-family: 'Noto Serif JP';
    line-height: 1;
    background-color: #fff;
    border: solid 2px orangered;
    border-radius: 10px;
    z-index: 10;
}

@media screen and (max-width: 480px){ 
    #wrap header {
        width:45%;
    }
    #wrap main#homew {
        display: none;
    }
    #wrap {
        padding: 0;
    }
    #wrap aside {
        border: solid 2px lawngreen;
        width: 96vw;
        margin: 2vw;
    }
    #wrap .asideheader {
        width: 50%;
        margin-left: 54%;
    }
    #wrap aside ul {
        margin: 10px 0;
    }
    #wrap aside .title-board {
        width: 97%;
    }
    #wrap aside .title-board .date {
        left: unset;
        right: 15px;
    }
}