@charset "UTF-8";
body {
    margin: 0;
    color: #625454;
    color: #565656;
    display: block;
    padding: 0;
    font-family: 'Noto Serif JP', serif;
    height: 100vh;
    overflow: hidden;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    color: #000;
    text-decoration: none;
}
#wrap {
    height: 100%;
    width: 100vw;
    padding: 0 1%;
}
#main-wrap {
    display: flex;
    height: 100%;
}


.crudbtn {
    position: absolute;
    bottom: 30px;
    width: 100px;
    height: 50px;
    font-size: 25px;
    border-style: solid;
    font-weight: bold;
    font-family: monospace;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.1s;
}
.crudbtn:active {
    bottom: 27px;
}
.crudbtn:focus {
    outline:  none;
}

#c-btn {
    right: 30px;
    background-color: lightgreen;
    border-color: #fff;
    color: #fff;
    box-shadow: 0 3px 0 rgba(0,255,0,0.2);
    opacity: 0.5;
}
#c-btn:hover {
    background-color: forestgreen;
    opacity: 1;
}
#c-btn:active {
    box-shadow: 0 0 0 rgba(0,255,0,0.2);
}

#u-btn {
    right: 20px;
    background-color: cornflowerblue;
    border-color: #fff;
    color: #fff;
    box-shadow: 0 3px 0 rgba(0,0,255,0.2);
    opacity: 0.5;
}
#u-btn:hover {
    background-color: royalblue;
    opacity: 1;
}
#u-btn:active {
    box-shadow: 0 0 0 rgba(0,0,255,0.2);
}

#d-btn {
    right: 130px;
    background-color: palevioletred;
    border-color: #fff;
    color: #fff;
    box-shadow: 0 3px 0 rgba(255,0,0,0.2);
    opacity: 0.5;
}
#d-btn:hover {
    background-color: red;
    opacity: 1;
}
#d-btn:active {
    box-shadow: 0 0 0 rgba(255,0,0,0.2);
}

#ca-btn {
    right: 145px;
    background-color: darksalmon;
    border-color: #fff;
    color: #fff;
    box-shadow: 0 3px 0 rgba(255,0,0,0.2);
}
#ca-btn:hover {
    background-color: red;
}
#ca-btn:active {
    box-shadow: 0 0 0 rgba(255,0,0,0.2);
}

.darktheme {
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}
.darktheme i {
    color: #fff;
}
.darktheme header {
    background-color: transparent;
}
.darktheme #themeinput {
    background-color: #fff;
    color: #000;
}
/* .darktheme input.divcontents,.darktheme textarea, .darktheme #artentry div:not(.di-back), .darktheme .artcardew div:not(.di-back){
    background-color: rgba(0,0,0,0.3);
    color: #fff;
} */
.darktheme .artcardew div:not(.di-back),.darktheme .setcontents {
    background-color: rgba(0,0,0,0.3);
    color: #ddd;
}
.darktheme input.divcontents,.darktheme textarea.divcontents {
    color: #ddd;
}
.darktheme main div.move ul ol:hover,.darktheme main .status div:nth-child(2):hover {
    color: rgba(36, 219, 36, 0.7);
    border-color: rgba(36, 219, 36, 0.7);
    background-color: #edfff4;
    opacity: 1;
}
.darktheme main div.move ul ol:hover i,.darktheme main .status div:nth-child(2):hover i{
    color: rgba(36, 219, 36, 0.7);
}

.createmode #cardlist {
    border: solid 3px green;
}
.createmode #homew {
    transition: 0.3s;
    filter: blur(2px);
}

#cancelbtn {
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 150px;
    height: 60px;
    font-size: 32px;
    color: red;
    font-weight: bold;
    font-family: 'Noto Serif JP';
    line-height: 1;
    background-color: #fff;
    border: solid 2px orangered;
    border-radius: 10px;
    z-index: 10;
}

@media screen and (max-width: 480px){
    html {
        -webkit-overflow-scrolling: touch;
    }
    body {
        overflow: auto;
    }
    #wrap header {
        width:45%;
    }
    #wrap header #logo {
        margin-left: 0;
        width: auto;
    }
    #wrap main#homew {
        display: none;
    }
    #wrap {
        padding: 0;
    }
    #wrap #main-wrap {
        display: block;
    }
    /* #wrap .darktheme {
        overflow: hidden;
    } */
    #wrap aside {
        border: solid 2px lawngreen;
        width: 96vw;
        height: 90.5vh;
        margin: 0;
        box-sizing: border-box;
        -webkit-overflow-scrolling: touch;
    }
    #wrap .asideheader {
        width: 100%;
        margin-left: 0;
        background-color: transparent;
        overflow: hidden;
    }
    #wrap #h-nav {
        font-size: 4vw;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        background-color: rgb(38 38 38 / 80%);
        padding: 3px;
        border-radius: 0 0 10px 0;
        box-shadow: 0 0 10px rgba(255,255,255,0.2);
    }
    #wrap #h-nav i {
        color: steelblue;
        font-size: 10vw;
    }
    #menu-img {
        border-radius: 100%;
        overflow: hidden;
        height: 40px;
        width: 40px;
        border: solid 1px springgreen;
    }
    #menu-img img {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    #menu-name {
        margin: 10px 3px 0 8px;
        color: #00e371;
    }

    #statuslist {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.7);
        height: 92.5vh;
        width: fit-content;
        padding: 10px;
        box-sizing: border-box;
    }
    #wrap aside #statuslist ul {
        margin: 0 0 0 20px;
        padding-right: 0;
        flex-direction: column;
    }
    #statuslist li {
        padding: 10px 0;
        height: 40px;
        display: flex;
    }
    #statuslist li:not(:first-child)::before {
        content: "";
        height: 100%;
        width: 5px;
        background-color: forestgreen;
        display: block;
        margin-right: 10px;
    }
    #statuslist li:not(:first-child) div{
        padding: 8px 0;
    }
    #status-img {
        height: 40px;
        width: 100%;
        display: flex;
    }
    #status-img img {
        border-radius: 100%;
        object-fit: cover;
        height: 40px;
        width: 40px;
    }
    #status-name {
        font-size: 4.5vw;
        padding: 9px 8px;
        display: block;
    }
    #menu-anc {
        position: absolute;
        bottom: 3%;
        right: 15%;
        font-size: 6vw;
        font-weight: bold;
        color: rgba(255,0,0,0.85);
        background-color: #fff;
        padding: 3px 10px;
        border-radius: 5px;
    }
    #wrap #menu-anc i {
        color: rgba(255,0,0,0.85);
    }


    #wrap .filter-icon {
        font-size: 22px;
        margin: 8px 3px 8px 50%;
    }
    #wrap .filter-option {
        margin-right: 10px;
        font-size: 16px;
        background-color: transparent;
    }
    #wrap aside ul {
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
    }
    #wrap aside .title-board {
        width: 97%;
    }
    #wrap aside .title-board .date {
        left: unset;
        right: 20px;
        top: 75px;
    }
    #wrap .card-title {
        width: 47vw;
    }
    #wrap .card-content {
        padding: 12px 0 0 25px;
    }

    #wrap .status div span {
        font-size: 4vw;
    }
    #wrap .mobiletools {
        position: absolute;
        bottom: 14vh;
        right: 7vw;
        width: 70px;
        height: 50px;
        z-index: 5;
    }
    #wrap #operator {
        position: absolute;
        top: 0;
        right: 18%;
        height: 50px;
        width: 50px;
        border: none;
        border-radius: 100%;
        background-color: #fff;
        box-shadow: rgb(141 255 93 / 39%) 0px 0px 3px, rgb(61 255 153 / 19%) 0px 1px 3px 1px;
    }
    #wrap #operator i {
        font-size: 4.5vh;
        padding: 1.1vh 0px;
        color: #008c37;
    }
    #wrap #opetools {
        display: flex;
        position: absolute;
        bottom: 30%;
        right: 11%;
        width: max-content;
        height: 50px;
        background-color: #fff;
        transform-origin: 87% -25%;
    }
    #wrap .darktheme #opetools {
        background: transparent;
    }
    #wrap #opetools button {
        margin: 0 10px;
        border-radius: 10px;
        border: none;
        background-color: transparent;
        word-break: keep-all;
        font-size: 6vw;
        width: 38vw;
        height: 40px;
        box-shadow: 0 0 5px #20ff4bcc;
        color: rgb(14 99 19 / 74%);
        font-weight: bold;
        font-family: serif;
    }
    #wrap .darktheme #opetools button {
        color: #00ffb6cc;
    }
    .sharenav {
        position: fixed;
        top: 5px;
        width: 90vw;
        left: 0;
        text-align: center;
        font-weight: bold;
        color: #ff7d3f;
        font-size: 5vw;
        border: rgb(255 177 149 / 69%) solid 1px;
        border-radius: 5px;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
    }
    .darktheme .sharenav i {
        color: orangered;
        font-size: 8vw;
        padding: 4px 0 0 0;
        width: 10%;
    }
    .share-p {
        margin: 3px;
        padding: 0 0 0 10px;
        border-bottom: solid 2px orangered;
        width: 100%;
        text-align: left;
    }
    @keyframes neondot {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    #wrap .mtool-card {
        
    }
    #wrap .mtool-create {

    }
    .fade-enter-active {
        transition: transform ease-in-out .15s;
    }
    .fade-enter {
        transition: transform ease-in-out .1s;
        transform: scale(0);
    }
    .fade-enter-to {
        transition: transform ease-in-out .2s;
        transform: scale(1.1);
    }

    .fade-leave-active {
        transition: transform ease-in-out .15s;
    }
    .fade-leave {
        transition: transform ease-in-out .2s;
        transform: scale(0);
    }
    .fade-leave-to{
        transition: transform ease-in-out .2s;
        transform: scale(0);
    }

    .crudbtn {
        bottom: unset;
        top: 80vh;
    }
    .crudbtn:active {
        top: 79vh;
    }

    .mastertools {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        background-color: rgba(0,0,0,0.2);
        z-index: 3;
    }
    .navtools-ul {
        display: flex;
        justify-content: space-evenly;
        margin: 0 30px;
    }
    .navtools-ul li {
        font-size: 24px;
        padding: 5px 60px;
        border-right: solid 2px rgba(0,255,0,0.7);
        color: seagreen;
        position: relative;
    }

    li#setting {
        width: 20vw;
        padding: 5px 30px 0;
    }

    /* mastertools */
    li#setting img {
        border-radius: 100%;
        width: 30px;
    }
    .share-hide {
        position: absolute;
        top: -50px;
        left: -25px;
        display: flex;
        width: 250px;
        justify-content: space-around;
    }
    .share-hide div {
        background-color: #fff;
        padding: 3px;
        border-radius: 5px;
        border: solid green 2px;
        text-align: center;
    }
    .darktheme .share-hide span,.darktheme .share-hide i {
        color: seagreen;
    }
}